@media (max-width: 1610px) {
    .container{
        margin:auto;
        width: 40%;
    }
    .text{
        font-family: Arial, serif;
        width: 25%;
        padding: 50px 10px;
        float: left;
        font-size: 18px;
        text-align: center;
    }
    .discordimg {
        margin-top: 50px;
        width: 25%;
    }
    .discordiframe {
        width: 350px;
        height: 500px;
        padding-top: 10px;
        padding-right: 10px;
        float: right;
    }
}
@media (max-width: 1460px) {
    .container{
        margin:auto;
        width: 50%;
    }
    .text{
        font-family: Arial, serif;
        width: 25%;
        padding: 50px 10px;
        float: left;
        font-size: 18px;
        text-align: center;
    }
    .discordimg {
        margin-top: 50px;
        width: 25%;
    }
    .discordiframe {
        width: 350px;
        height: 500px;
        padding-top: 10px;
        padding-right: 10px;
        float: right;
    }
}
@media (max-width: 965px) {
    .container{
        margin:auto;
        width: 70%;
    }
    .text{
        font-family: Arial, serif;
        width: 25%;
        padding: 50px 10px;
        float: left;
        font-size: 18px;
        text-align: center;
    }
    .discordimg {
        margin-top: 50px;
        width: 25%;
    }
    .discordiframe {
        width: 250px;
        height: 500px;
        padding-top: 10px;
        padding-right: 10px;
        float: right;
    }
}
@media (max-width: 790px) {
    .container{
        margin:auto;
        width: 90%;
    }
    .text{
        font-family: Arial, serif;
        width: 75%;
        padding: 50px 10px;
        margin-left: 10%;
        font-size: 18px;
        text-align: left;
    }
    .discordimg {
        margin-top: 50px;
        width: 40%;
    }
    .discordiframe {
        width: 0;
        height: 0;
        padding-top: 10px;
        padding-right: 10px;
        float: right;
    }
}

@media (max-width: 690px) {
    .container{
        margin:auto;
        width: 90%;
    }
    .text{
        font-family: Arial, serif;
        width: 75%;
        padding: 50px 10px;
        margin-left: 10%;
        font-size: 18px;
        text-align: left;
    }
    .discordimg {
        margin-top: 50px;
        width: 40%;
    }
    .discordiframe {
        width: 0;
        height: 0;
        padding-top: 10px;
        padding-right: 10px;
        float: right;
    }
}
@media (max-width: 540px) {
    .container{
        margin:auto;
        width: 100%;
    }
}